@import 'reset';

// Basic Styles

@font-face {
  font-family: 'Neuzeit';
  src: url('fonts/neuzeit-book.eot'); /* IE9 Compat Modes */
  src: url('fonts/neuzeit-book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/neuzeit-book.woff') format('woff'), /* Modern Browsers */
       url('fonts/neuzeit-book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/neuzeit-book.svg#svgFontName') format('svg'); /* Legacy iOS */
}

body {
  font-family: 'Neuzeit';
  color: rgb(109,110,113);
  background: rgb(239,239,239);
  margin-top: 5%;
}

header > div,
footer > div,
.wrapper {
  max-width: 1500px;
  width: 90%;
  margin: 0 auto;
}


// Blog Structure

.banner {
  width: 100%;
  float: left;
  margin-bottom: 2em;
}
.main-content {
  float: left;
  width: 65%; 
  margin-right: 10%;
}
.sidebar {
  float:left;
  width: 25%;
  font-size: 0.9em;
}

@import 'blog';
@import 'header';
@import 'footer';