//	We need to duplicate the font declarations so they override the ones from the main site, cause cross origin fonts be slooooow.

@font-face {
  font-family: 'Neuzeit';
  font-weight: normal;
  font-style: normal;
  src: url('fonts/neuzeit-book.eot'); /* IE9 Compat Modes */
  src: url('fonts/neuzeit-book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/neuzeit-book.woff') format('woff'), /* Modern Browsers */
       url('fonts/neuzeit-book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/neuzeit-book.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'Neuzeit';
  font-weight: bold;
  font-style: normal;
  src: url('fonts/neuzeit-book.eot'); /* IE9 Compat Modes */
  src: url('fonts/neuzeit-book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts/neuzeit-book.woff') format('woff'), /* Modern Browsers */
       url('fonts/neuzeit-book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts/neuzeit-book.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'fontello';
  src: url('fonts/fontello.eot?67832890');
  src: url('fonts/fontello.eot?67832890#iefix') format('embedded-opentype'),
       url('fonts/fontello.woff?67832890') format('woff'),
       url('fonts/fontello.ttf?67832890') format('truetype'),
       url('fonts/fontello.svg?67832890#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Blog styles
@import 'blog/variables';
@import 'blog/archive';
@import 'blog/grid';
@import 'blog/categories';
@import 'blog/typography';
@import 'blog/media';
@import 'blog/post';
