@font-face {
  font-family: 'Neuzeit';
  font-weight: normal;
  font-style: normal;
  src: url("fonts/neuzeit-book.eot");
  /* IE9 Compat Modes */
  src: url("fonts/neuzeit-book.eot?#iefix") format("embedded-opentype"), url("fonts/neuzeit-book.woff") format("woff"), url("fonts/neuzeit-book.ttf") format("truetype"), url("fonts/neuzeit-book.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'Neuzeit';
  font-weight: bold;
  font-style: normal;
  src: url("fonts/neuzeit-book.eot");
  /* IE9 Compat Modes */
  src: url("fonts/neuzeit-book.eot?#iefix") format("embedded-opentype"), url("fonts/neuzeit-book.woff") format("woff"), url("fonts/neuzeit-book.ttf") format("truetype"), url("fonts/neuzeit-book.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'fontello';
  src: url("fonts/fontello.eot?67832890");
  src: url("fonts/fontello.eot?67832890#iefix") format("embedded-opentype"), url("fonts/fontello.woff?67832890") format("woff"), url("fonts/fontello.ttf?67832890") format("truetype"), url("fonts/fontello.svg?67832890#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
.post-list {
  padding: 0;
  list-style: none; }
  .post-list .post-image, .post-list .no-image {
    margin: 0 0 1em 0; }

.post-list > li {
  box-sizing: border-box;
  width: 50%;
  float: left;
  padding: 0 0.5em 1em;
  position: relative;
  margin-bottom: 2em; }

@media screen and (min-width: 600px) {
  .post-list > li:nth-child(2n+3) {
    clear: both; } }
@media screen and (max-width: 600px) {
  .post-list > li {
    width: 100%; } }
.post .category-icons {
  float: left;
  width: 25%; }
.post a {
  text-decoration: none; }
.post .post-meta-data {
  text-align: left;
  display: block;
  float: right;
  width: 55%; }
.post .title {
  color: #58595b; }
.post .under {
  display: block;
  margin: 0.5em 0; }

.pagination a {
  text-decoration: none;
  color: #a7a9ac;
  padding: 2em 0; }
.pagination span {
  display: block;
  margin: 1em 0 3em 0; }
.pagination .next {
  float: right; }
.pagination .prev {
  float: left; }

.author, .date {
  color: #a7a9ac;
  line-height: 1.2; }

.author {
  display: block; }
  .author .author-link {
    text-transform: capitalize; }
  .author a {
    color: inherit; }

.post-image {
  position: relative;
  margin: 0 0 3em 0;
  overflow: hidden; }
  .post-image img {
    width: 100%;
    display: block; }

.post-list {
  margin-bottom: 2em;
  margin-left: -10px;
  margin-right: -10px; }
  .post-list .no-image {
    position: relative;
    height: 0;
    overflow: hidden;
    background: #aaaaaa; }
    .post-list .no-image .category {
      color: rgba(255, 255, 255, 0.5);
      margin: 0;
      font-size: 2em; }
    .post-list .no-image p {
      color: white;
      margin: 0.5em 0;
      font-size: 1.3em;
      line-height: 1.2; }
  .post-list:after {
    content: '';
    display: table;
    clear: both; }

.image-col-3 {
  width: 33.33%;
  float: left;
  box-sizing: border-box;
  padding: 0 10px;
  margin-bottom: 10px; }

.image-col-2 {
  width: 50%;
  float: left;
  box-sizing: border-box;
  padding: 0 10px;
  margin-bottom: 10px; }

.image-col-1 {
  width: 100%;
  float: left;
  box-sizing: border-box;
  padding: 0 10px;
  margin-bottom: 10px; }

.image-col-1, .image-col-2, .image-col-3 {
  margin-bottom: 1em; }

.caption {
  margin-top: 0.50em;
  display: inline-block; }

.images {
  margin: 0 -10px 2em -10px; }

.images:after {
  content: '';
  display: block;
  clear: both; }

@media only screen and (max-width: 650px) {
  .post-image {
    font-size: 0.7em; }

  .images-wrapper {
    width: 100%;
    float: right; }

  .images {
    width: auto;
    float: none; }

  .image-col-3, .image-col-2, .image-col-1 {
    width: 100% !important;
    margin-bottom: 1em !important; } }
.category-links a {
  text-decoration: none;
  color: #aaaaaa;
  display: block;
  padding: 0.3em 0;
  position: relative; }

.category-links a:after, .category-icons a.tag {
  content: '';
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 15px;
  position: relative;
  background: #d1d3d4; }

.category-links a:after {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.category-icons {
  list-style: none;
  padding: 0; }

.category-icons li {
  display: inline-block;
  margin: 0 0.1em; }

.category-icons a.tag:hover:after, .category-icons a.tag.active:after {
  content: '';
  display: block;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  border-radius: 15px;
  background: white;
  position: absolute; }

.category-links {
  margin-bottom: 3.5em; }

.blog-category {
  height: 100%; }

li.code a.tag,
li.code:hover a:after,
.wrapper.code-main li.code a:after,
.code-main .no-image, .code-main .post-content .no-image {
  background-color: #ff5b34; }

li.inspiration a.tag,
li.inspiration:hover a:after,
.wrapper.inspiration-main li.inspiration a:after,
.inspiration-main .no-image, .inspiration-main .post-content .no-image {
  background-color: #684458; }

li.made a.tag,
li.made:hover a:after,
.wrapper.made-main li.made a:after,
.made-main .no-image, .made-main .post-content .no-image {
  background-color: #0074c8; }

li.thinking a.tag,
li.thinking:hover a:after,
.wrapper.thinking-main li.thinking a:after,
.thinking-main .no-image {
  background-color: #70a087; }

li.people a.tag,
li.people:hover a:after,
.wrapper.people-main li.people a:after,
.people-main .no-image {
  background-color: #00bc6f; }

li.process a.tag,
li.process:hover a:after,
.wrapper.process-main li.process a:after,
.process-main .no-image {
  background-color: #00c4b3; }

li.ideas a.tag,
li.ideas:hover a:after,
.wrapper.ideas-main li.ideas a:after,
.ideas-main .no-image {
  background-color: #00795f; }

li.adventures a.tag,
li.adventures:hover a:after,
.wrapper.adventures-main li.adventures a:after,
.adventures-main .no-image {
  background-color: #dc5f13; }

li.design a.tag,
li.design:hover a:after,
.wrapper.design-main li.design a:after,
.design-main .no-image {
  background-color: #ffbf3b; }

li.studio a.tag,
li.studio:hover a:after,
.wrapper.studio-main li.studio a:after,
.studio-main .no-image {
  background-color: #f6323e; }

li.found a.tag,
li.found:hover a:after,
.wrapper.found-main li.found a:after,
.found-main .no-image {
  background-color: #00a0ae; }

li.interesting a.tag,
li.interesting:hover a:after,
.wrapper.interesting-main li.interesting a:after,
.interesting-main .no-image {
  background-color: #f46177; }

.blog-category.code-main .cat-highlight,
.blog-category.code-main .blog-content a,
.blog-category.code-main .blog-content h3 {
  color: #ff5b34; }

.blog-category.inspiration-main .cat-highlight,
.blog-category.inspiration-main .blog-content a,
.blog-category.inspiration-main .blog-content h3 {
  color: #684458; }

.blog-category.made-main .cat-highlight,
.blog-category.made-main .blog-content a,
.blog-category.made-main .blog-content h3 {
  color: #0074c8; }

.blog-category.thinking-main .cat-highlight,
.blog-category.thinking-main .blog-content a,
.blog-category.thinking-main .blog-content h3 {
  color: #70a087; }

.blog-category.people-main .cat-highlight,
.blog-category.people-main .blog-content a,
.blog-category.people-main .blog-content h3 {
  color: #00bc6f; }

.blog-category.process-main .cat-highlight,
.blog-category.process-main .blog-content a,
.blog-category.process-main .blog-content h3 {
  color: #00c4b3; }

.blog-category.ideas-main .cat-highlight,
.blog-category.ideas-main .blog-content a,
.blog-category.ideas-main .blog-content h3 {
  color: #00795f; }

.blog-category.adventures-main .cat-highlight,
.blog-category.adventures-main .blog-content a,
.blog-category.adventures-main .blog-content h3 {
  color: #dc5f13; }

.blog-category.design-main .cat-highlight,
.blog-category.design-main .blog-content a,
.blog-category.design-main .blog-content h3 {
  color: #ffbf3b; }

.blog-category.studio-main .cat-highlight,
.blog-category.studio-main .blog-content a,
.blog-category.studio-main .blog-content h3 {
  color: #f6323e; }

.blog-category.found-main .cat-highlight,
.blog-category.found-main .blog-content a,
.blog-category.found-main .blog-content h3 {
  color: #00a0ae; }

.blog-category.interesting-main .cat-highlight,
.blog-category.interesting-main .blog-content a,
.blog-category.interesting-main .blog-content h3 {
  color: #f46177; }

.blog-content h3 {
  margin-bottom: 0.5em;
  margin-top: 1.5em; }
.blog-content a {
  text-decoration: none; }
.blog-content em {
  font-style: italic; }
.blog-content strong {
  font-weight: bold; }
.blog-content blockquote, .blog-content q {
  border-left: 3px solid #cccccc;
  padding-left: 1em; }

@media only screen and (max-width: 650px) {
  .pagination span a {
    padding: 0; }

  .pagination span {
    margin: 0; } }
.blog-video {
  position: relative; }

.iframe-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }
  .iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.video-playing {
  position: absolute;
  top: 0px;
  /* display: none; */
  width: 100%;
  left: 0;
  /* right: 10px; */
  padding: 0 10px;
  box-sizing: border-box; }

.play {
  background-image: url(images/play.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 4em;
  width: 4em;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out; }

.play:hover {
  cursor: pointer;
  opacity: 0.8; }

pre {
  margin-bottom: 1em; }

.hljs {
  font-family: 'Source Code Pro' !important;
  font-size: 0.95em !important;
  letter-spacing: -0.5px; }

.post-author {
  font-size: 1em; }
  .post-author .author-link a {
    color: inherit;
    text-decoration: none;
    text-transform: capitalize; }

.related-posts {
  position: absolute;
  bottom: 0;
  left: 0; }

.blog-content :last-child {
  margin-bottom: 0 !important; }

.hero .related-posts p {
  margin-bottom: 0.25em;
  color: #a7a9ac; }

.related-posts a {
  margin-bottom: 1em;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-size: 1.3em; }

.related-posts a:last-child {
  margin-bottom: 0; }

@media screen and (max-width: 980px) {
  .related-posts {
    float: left;
    position: static;
    margin-top: 2em; } }
.blog-content {
  min-height: 300px; }

.single .section-title p {
  margin-bottom: 0.5em; }

.blog-content img {
  max-width: 100%;
  display: block; }

.post-image {
  height: 0;
  padding-bottom: 60%;
  background-position: center; }

.content-section-body ul {
  padding-left: 1.2em; }

.blog-content ul {
  margin-bottom: 1em; }

.hero-picture {
  position: relative;
  z-index: -1;
  background-position: center center !important; }

.hero {
  padding-bottom: 5% !important;
  margin-bottom: 0 !important;
  background: white; }

.text > .wrapper {
  position: relative; }

.home {
  margin-top: 6em; }

@media screen and (max-width: 980px) {
  .blog-category .section-title {
    float: left;
    width: 100%; } }

/*# sourceMappingURL=style.css.map */
