@font-face {
  font-family: 'Neuzeit';
  font-weight: normal;
  font-style: normal;
  src: url("fonts/neuzeit-book.eot");
  /* IE9 Compat Modes */
  src: url("fonts/neuzeit-book.eot?#iefix") format("embedded-opentype"), url("fonts/neuzeit-book.woff") format("woff"), url("fonts/neuzeit-book.ttf") format("truetype"), url("fonts/neuzeit-book.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'Neuzeit';
  font-weight: bold;
  font-style: normal;
  src: url("fonts/neuzeit-book.eot");
  /* IE9 Compat Modes */
  src: url("fonts/neuzeit-book.eot?#iefix") format("embedded-opentype"), url("fonts/neuzeit-book.woff") format("woff"), url("fonts/neuzeit-book.ttf") format("truetype"), url("fonts/neuzeit-book.svg#svgFontName") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'fontello';
  src: url("fonts/fontello.eot?67832890");
  src: url("fonts/fontello.eot?67832890#iefix") format("embedded-opentype"), url("fonts/fontello.woff?67832890") format("woff"), url("fonts/fontello.ttf?67832890") format("truetype"), url("fonts/fontello.svg?67832890#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
.post-list {
  padding: 0;
  list-style: none; }
  .post-list .post-image, .post-list .no-image {
    margin: 0 0 1em 0; }

@media screen and (min-width: 600px) {
  .post-list > li:nth-child(2n+3) {
    clear: both; } }
@media screen and (max-width: 600px) {
  .post-list > li {
    width: 100%;
    float: left; } }
.post .category-icons {
  float: left;
  width: 25%; }
.post a {
  text-decoration: none; }
.post .post-meta-data {
  text-align: left;
  display: block;
  float: right;
  width: 55%; }
.post .title {
  color: #58595b; }
.post .under {
  display: block;
  margin: 0.5em 0; }

@media screen and (max-width: 900px) {
  .post .post-meta-data {
    width: 75%; } }
.grid .post .title {
  padding-left: 0; }

.pagination a {
  text-decoration: none;
  color: #a7a9ac;
  padding: 2em 0; }
.pagination span {
  display: block;
  margin: 1em 0 3em 0; }
.pagination .next {
  float: right; }
.pagination .prev {
  float: left; }

.author, .date {
  color: #a7a9ac;
  line-height: 1.2; }

.author {
  display: block; }
  .author .author-link {
    text-transform: capitalize; }
  .author a {
    color: inherit; }

.post-image {
  position: relative;
  margin: 0 0 3em 0;
  overflow: hidden; }
  .post-image img {
    width: 100%;
    display: block; }

.post-list {
  margin-bottom: 2em; }
  .post-list .no-image {
    position: relative;
    height: 0;
    overflow: hidden; }
    .post-list .no-image .category {
      color: rgba(255, 255, 255, 0.5);
      margin: 0;
      font-size: 2em; }
    .post-list .no-image p {
      color: white;
      margin: 0.5em 0;
      font-size: 1.3em;
      line-height: 1.2; }
  .post-list .title {
    padding-left: 0%; }
  .post-list:after {
    content: '';
    display: table;
    clear: both; }

.image-col-3 {
  width: 33.33%;
  float: left;
  box-sizing: border-box;
  padding: 0 10px;
  margin-bottom: 10px; }

.image-col-2 {
  width: 50%;
  float: left;
  box-sizing: border-box;
  padding: 0 10px;
  margin-bottom: 10px; }

.image-col-1 {
  width: 100%;
  float: left;
  box-sizing: border-box;
  padding: 0 10px;
  margin-bottom: 10px; }

.image-col-1, .image-col-2, .image-col-3 {
  margin-bottom: 1em; }

.caption {
  margin-top: 0.50em;
  display: inline-block; }

.images {
  margin: 0 -10px 2em -10px; }

.images:after {
  content: '';
  display: block;
  clear: both; }

.images-wrapper .iframe-wrapper {
  margin-bottom: 0; }

@media only screen and (max-width: 650px) {
  .post-image {
    font-size: 0.7em; }

  .images-wrapper {
    width: 100%; }

  .images {
    width: auto;
    float: none; }

  .image-col-3, .image-col-2, .image-col-1 {
    width: 100% !important;
    margin-bottom: 1em !important; } }
.category-links a {
  text-decoration: none;
  color: #aaaaaa;
  display: block;
  padding: 0.3em 0;
  position: relative; }

.category-links a:after, .category-icons a.tag {
  content: '';
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 15px;
  position: relative;
  background: #d1d3d4; }

.category-links a:after {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.category-icons {
  list-style: none;
  padding: 0; }

.category-icons li {
  display: inline-block;
  margin: 0 0.1em; }

.category-icons a.tag:hover:after, .category-icons a.tag.active:after {
  content: '';
  display: block;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  border-radius: 15px;
  background: white;
  position: absolute; }

.category-links {
  margin-bottom: 3.5em; }

.blog-category {
  height: 100%; }

.blog-content h3 {
  margin-bottom: 0.5em;
  margin-top: 1.5em; }
.blog-content a {
  text-decoration: none; }
.blog-content em {
  font-style: italic; }
.blog-content strong {
  font-weight: bold; }
.blog-content blockquote, .blog-content q {
  border-left: 3px solid #cccccc;
  padding-left: 1em;
  margin-bottom: 1em; }

@media only screen and (max-width: 650px) {
  .pagination span a {
    padding: 0; }

  .pagination span {
    margin: 0; } }
.blog-video {
  position: relative; }

.iframe-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  margin-bottom: 1em;
  padding-top: 25px;
  height: 0; }
  .iframe-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.video-playing {
  position: absolute;
  top: 0px;
  width: 100%;
  left: 0;
  padding: 0 10px;
  box-sizing: border-box; }

.play {
  background-image: url(images/play.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 4em;
  width: 4em;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out; }

.play:hover {
  cursor: pointer;
  opacity: 0.8; }

pre {
  margin-bottom: 1em; }

.images-wrapper {
  margin-bottom: 1em; }

.hljs {
  font-family: 'Source Code Pro' !important;
  font-size: 0.95em !important;
  letter-spacing: -0.5px; }

.post-author {
  font-size: 1em; }
  .post-author .author-link a {
    color: inherit;
    text-decoration: none;
    text-transform: capitalize; }

.related-posts {
  position: absolute;
  bottom: 2em;
  left: 0; }

.blog-content :last-child {
  margin-bottom: 0 !important; }

.hero .related-posts p {
  margin-bottom: 0.25em;
  color: #a7a9ac; }

.related-posts a {
  margin-bottom: 1em;
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-size: 1.3em; }

.related-posts a:last-child {
  margin-bottom: 0; }

@media screen and (max-width: 980px) {
  .related-posts {
    float: left;
    position: static;
    margin-top: 2em; } }
.blog-content {
  min-height: 300px; }

.single .section-title p {
  margin-bottom: 0.5em; }

.blog-content img {
  max-width: 100%;
  display: block; }

.post-image {
  height: 0;
  padding-bottom: 60%;
  background-position: center; }

.content-section-body ul {
  padding-left: 1.2em; }

.blog-content ul {
  margin-bottom: 1em; }

.hero-picture {
  position: relative;
  z-index: -1;
  background-position: center center !important; }

.hero {
  padding-bottom: 5% !important;
  margin-bottom: 0 !important;
  background: white; }

.text > .wrapper {
  position: relative; }

.home, .archive {
  margin-top: 6em; }

@media screen and (max-width: 980px) {
  .blog-category .section-title {
    float: left;
    width: 100%; } }
.sidebar-reveal {
  text-decoration: none;
  color: #666; }

.temp-burger {
  font-size: 40px; }

.sidebar {
  position: fixed;
  background: white;
  right: -400px;
  top: 0;
  bottom: 0;
  width: 400px;
  z-index: 200; }

.sidebar {
  padding: 4em;
  box-sizing: border-box; }

.sidebar h3 {
  font-size: 1.2em;
  margin-bottom: 1em;
  opacity: 0;
  -webkit-transition: opacity 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: opacity 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), -moz-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: opacity 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-transition-delay: 350ms;
  -moz-transition-delay: 350ms;
  transition-delay: 350ms; }

.sidebar.moved h3 {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px); }

.sidebar ul li {
  opacity: 0;
  -webkit-transition: opacity 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), -webkit-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: opacity 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), -moz-transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: opacity 0.4s cubic-bezier(0.645, 0.045, 0.355, 1), transform 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  transform: translateY(10px); }

.sidebar.moved ul li {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px); }

.sidebar.moved ul li:nth-child(1) {
  -webkit-transition-delay: 445ms;
  -moz-transition-delay: 445ms;
  transition-delay: 445ms; }

.sidebar.moved ul li:nth-child(2) {
  -webkit-transition-delay: 490ms;
  -moz-transition-delay: 490ms;
  transition-delay: 490ms; }

.sidebar.moved ul li:nth-child(3) {
  -webkit-transition-delay: 535ms;
  -moz-transition-delay: 535ms;
  transition-delay: 535ms; }

.sidebar.moved ul li:nth-child(4) {
  -webkit-transition-delay: 580ms;
  -moz-transition-delay: 580ms;
  transition-delay: 580ms; }

.sidebar.moved ul li:nth-child(5) {
  -webkit-transition-delay: 625ms;
  -moz-transition-delay: 625ms;
  transition-delay: 625ms; }

.sidebar.moved ul li:nth-child(6) {
  -webkit-transition-delay: 670ms;
  -moz-transition-delay: 670ms;
  transition-delay: 670ms; }

.sidebar.moved ul li:nth-child(7) {
  -webkit-transition-delay: 715ms;
  -moz-transition-delay: 715ms;
  transition-delay: 715ms; }

.sidebar.moved ul li:nth-child(8) {
  -webkit-transition-delay: 760ms;
  -moz-transition-delay: 760ms;
  transition-delay: 760ms; }

.sidebar.moved ul li:nth-child(9) {
  -webkit-transition-delay: 805ms;
  -moz-transition-delay: 805ms;
  transition-delay: 805ms; }

.sidebar.moved ul li:nth-child(10) {
  -webkit-transition-delay: 850ms;
  -moz-transition-delay: 850ms;
  transition-delay: 850ms; }

.sidebar.moved ul li:nth-child(11) {
  -webkit-transition-delay: 895ms;
  -moz-transition-delay: 895ms;
  transition-delay: 895ms; }

.sidebar.moved ul li:nth-child(12) {
  -webkit-transition-delay: 940ms;
  -moz-transition-delay: 940ms;
  transition-delay: 940ms; }

.sidebar.moved ul li:nth-child(13) {
  -webkit-transition-delay: 985ms;
  -moz-transition-delay: 985ms;
  transition-delay: 985ms; }

.sidebar.moved ul li:nth-child(14) {
  -webkit-transition-delay: 1030ms;
  -moz-transition-delay: 1030ms;
  transition-delay: 1030ms; }

.sidebar.moved ul li:nth-child(15) {
  -webkit-transition-delay: 1075ms;
  -moz-transition-delay: 1075ms;
  transition-delay: 1075ms; }

.sidebar.moved ul li:nth-child(16) {
  -webkit-transition-delay: 1120ms;
  -moz-transition-delay: 1120ms;
  transition-delay: 1120ms; }

.sidebar.moved ul li:nth-child(17) {
  -webkit-transition-delay: 1165ms;
  -moz-transition-delay: 1165ms;
  transition-delay: 1165ms; }

.sidebar.moved ul li:nth-child(18) {
  -webkit-transition-delay: 1210ms;
  -moz-transition-delay: 1210ms;
  transition-delay: 1210ms; }

.sidebar.moved ul li:nth-child(19) {
  -webkit-transition-delay: 1255ms;
  -moz-transition-delay: 1255ms;
  transition-delay: 1255ms; }

.sidebar.moved ul li:nth-child(20) {
  -webkit-transition-delay: 1300ms;
  -moz-transition-delay: 1300ms;
  transition-delay: 1300ms; }

.cross {
  font-size: 20px;
  color: #666;
  text-decoration: none;
  position: absolute;
  top: 20px;
  right: 20px; }

.black-overlay {
  position: fixed;
  z-index: 150;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: black;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: opacity 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: opacity 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86); }

.black-overlay.shown {
  opacity: 0.7;
  visibility: visible; }

.page-content, .sidebar, header, .hero-picture {
  -webkit-transition: -webkit-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: -moz-transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86); }

.black-overlay.fade-out {
  opacity: 0; }

.page-content.moved, header.moved, .hero-picture.moved {
  -webkit-transform: translateX(-100px);
  -moz-transform: translateX(-100px);
  transform: translateX(-100px); }

.sidebar.moved {
  -webkit-transform: translateX(-400px);
  -moz-transform: translateX(-400px);
  transform: translateX(-400px); }

@media screen and (max-width: 700px) {
  .sidebar.moved {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transform: translateX(-100%); }

  .sidebar {
    width: 100%;
    right: -100%; } }

/*# sourceMappingURL=style.css.map */
