

// Posts lists

.post-list {
	padding: 0;
	list-style: none;

	.post-image, .no-image {
		margin: 0 0 1em 0;
	}

}

.post-list > li {
box-sizing: border-box;
width: 50%;
float: left;
padding: 0 0.5em 1em;
position: relative;
margin-bottom: 2em;
}

@media screen and (min-width: 600px) {
	.post-list > li:nth-child(2n+3) {
		clear: both;
	}
}

@media screen and (max-width: 600px) {
	.post-list > li {
		width: 100%;
	}
} 

.post {

	.category-icons {
		float: left;
		width: 25%;
	}

	a {
		text-decoration: none;
	}

	.post-meta-data {
		text-align: left;
		display: block;
		float: right;
		width: 55%;
	}

	.title {
		color: rgb(88,89,91);
	}

	.under {
		display: block;
		margin: 0.5em 0;
	}

}



.pagination {

	a {
		text-decoration: none;
		color: rgb(167,169,172);
		padding: 2em 0;
	}

	span {
		display: block;
		margin: 1em 0 3em 0;
	}

	.next {
		float: right;
	}

	.prev {
		float: left;
	}

}

// Shared between Single + Post list

.author, .date {
	color: rgb(167,169,172);
	line-height: 1.2;
}

.author {
	display: block;
	
	.author-link {
		text-transform: capitalize;
	}

	a {
		color: inherit;
	}

}

.post-image {
	position: relative;
	margin: 0 0 3em 0;
	overflow: hidden;

	img {
		width: 100%;
		display: block;
	}
}

.post-list {
	margin-bottom: 2em;
	margin-left: -10px;
	margin-right: -10px;
	
	.no-image {
		position: relative;
		height: 0;
		overflow: hidden;
		background: rgb(170,170,170);

		.category {
			color: rgba(255,255,255,0.5);
			margin: 0;
			font-size: 2em;
		}

		p {
			color: rgb(255,255,255);
			margin: 0.5em 0;
			font-size: 1.3em;
			line-height: 1.2;
		}
	}

	&:after {
		content: '';
		display: table;
		clear: both;
	}
}