// Background
.blog-category {
	height: 100%;
}

li.code a.tag,
li.code:hover a:after,
.wrapper.code-main li.code a:after, 
.post-list .code-main .no-image, .code-main .post-content .no-image {
	background: $blog-code;
}

li.inspiration a.tag,
li.inspiration:hover a:after,
.wrapper.inspiration-main li.inspiration a:after,
.post-list .inspiration-main .no-image, .inspiration-main .post-content .no-image {
	background: $blog-inspiration;
}

li.made a.tag,
li.made:hover a:after,
.wrapper.made-main li.made a:after,
.post-list .made-main .no-image, .made-main .post-content .no-image {
	background: $blog-made;
}

li.thinking a.tag,
li.thinking:hover a:after,
.wrapper.thinking-main li.thinking a:after,
.post-list .thinking-main .no-image, .thinking-main .post-content .no-image {
	background: $blog-thinking;
}

li.people a.tag,
li.people:hover a:after,
.wrapper.people-main li.people a:after,
.post-list .people-main .no-image, .people-main .post-content .no-image {
	background: $blog-people;
}

li.process a.tag,
li.process:hover a:after,
.wrapper.process-main li.process a:after,
.post-list .process-main .no-image, .process-main .post-content .no-image {
	background: $blog-process;
}

li.ideas a.tag,
li.ideas:hover a:after,
.wrapper.ideas-main li.ideas a:after,
.post-list .ideas-main .no-image, .ideas-main .post-content .no-image {
	background: $blog-ideas;
}

li.adventures a.tag,
li.adventures:hover a:after,
.wrapper.adventures-main li.adventures a:after,
.post-list .adventures-main .no-image, .adventures-main .post-content .no-image {
	background: $blog-adventures;
}

li.design a.tag,
li.design:hover a:after,
.wrapper.design-main li.design a:after,
.post-list .design-main .no-image, .design-main .post-content .no-image {
	background: $blog-design;
}

li.studio a.tag,
li.studio:hover a:after,
.wrapper.studio-main li.studio a:after,
.post-list .studio-main .no-image, .studio-main .post-content .no-image {
	background: $blog-studio;
}

// Color
.blog-category.code-main {
	.cat-hightlight {
		color: $blog-code;
	}
}

.blog-category.inspiration-main {
	.cat-hightlight {
		color: $blog-inspiration;
	}
}

.blog-category.made-main {
	.cat-hightlight {
		color: $blog-made;
	}
}

.blog-category.thinking-main {
	.cat-hightlight {
		color: $blog-thinking;
	}
}

.blog-category.people-main {
	.cat-hightlight {
		color: $blog-people;
	}
}

.blog-category.process-main {
	.cat-hightlight {
		color: $blog-process;
	}
}

.blog-category.ideas-main {
	.cat-hightlight {
		color: $blog-ideas;
	}
}

.blog-category.adventures-main {
	.cat-hightlight {
		color: $blog-adventures;
	}
}

.blog-category.design-main {
	.cat-hightlight {
		color: $blog-design;
	}
}

.blog-category.studio-main {
	.studio-hightlight {
		color: $blog-studio;
	}
}

