// Background


li.code a.tag,
li.code:hover a:after,
.wrapper.code-main li.code a:after, 
.post-list .code-main .no-image, .code-main .post-content .no-image {
	background: $blog-pink;
}

li.inspiring a.tag,
li.inspiring:hover a:after,
.wrapper.inspiring-main li.inspiring a:after,
.post-list .inspiring-main .no-image, .inspiring-main .post-content .no-image {
	background: $blog-yellow;
}

li.made a.tag,
li.made:hover a:after,
.wrapper.made-main li.made a:after,
.post-list .made-main .no-image, .made-main .post-content .no-image {
	background: $blog-turquoise;
}

li.out-and-about a.tag,
li.out-and-about:hover a:after,
.wrapper.out-and-about-main li.out-and-about a:after,
.post-list .out-and-about-main .no-image, .out-and-about-main .post-content .no-image {
	background: $blog-blue;
}

li.people a.tag,
li.people:hover a:after,
.wrapper.people-main li.people a:after,
.post-list .people-main .no-image, .people-main .post-content .no-image {
	background: $blog-pink--light;
}

li.process a.tag,
li.process:hover a:after,
.wrapper.process-main li.process a:after,
.post-list .process-main .no-image, .process-main .post-content .no-image {
	background: $blog-lime-green;
}

li.ideas a.tag,
li.ideas:hover a:after,
.wrapper.ideas-main li.ideas a:after,
.post-list .ideas-main .no-image, .ideas-main .post-content .no-image {
	background: $blog-red;
}

li.found a.tag,
li.found:hover a:after,
.wrapper.found-main li.found a:after,
.post-list .found-main .no-image, .found-main .post-content .no-image {
	background: $blog-blue--light;
}

li.present a.tag,
li.present:hover a:after,
.wrapper.present-main li.present a:after,
.post-list .present-main .no-image, .present-main .post-content .no-image {
	background: $blog-orange;
}

li.studio a.tag,
li.studio:hover a:after,
.wrapper.studio-main li.studio a:after,
.post-list .studio-main .no-image, .studio-main .post-content .no-image {
	background: $blog-pale-green;
}

// Color

li.code a:hover,
.wrapper.code-main li.code a,
.wrapper.code-main .post-content .title,
.wrapper.code-main .post-content .caption,
.wrapper.code-main .post-content h2,
.wrapper.code-main .post-content h3,
.wrapper.code-main .post-content h4 {
	color: $blog-pink;
}

li.inspiring a:hover,
.wrapper.inspiring-main li.inspiring a,
.wrapper.inspiring-main .post-content .title,
.wrapper.inspiring-main .post-content .caption,
.wrapper.inspiring-main .post-content h2,
.wrapper.inspiring-main .post-content h3,
.wrapper.inspiring-main .post-content h4 {
	color: $blog-yellow;
}

li.made a:hover,
.wrapper.made-main li.made a,
.wrapper.made-main .post-content .title,
.wrapper.made-main .post-content .caption,
.wrapper.made-main .post-content h2,
.wrapper.made-main .post-content h3,
.wrapper.made-main .post-content h4 {
	color: $blog-turquoise;
}

li.out-and-about a:hover,
.wrapper.out-and-about-main li.out-and-about a,
.wrapper.out-and-about-main .post-content .title,
.wrapper.out-and-about-main .post-content .caption,
.wrapper.out-and-about-main .post-content h2,
.wrapper.out-and-about-main .post-content h3,
.wrapper.out-and-about-main .post-content h4 {
	color: $blog-blue;
}

li.people a:hover,
.wrapper.people-main li.people a,
.wrapper.people-main .post-content .title,
.wrapper.people-main .post-content .caption,
.wrapper.people-main .post-content h2,
.wrapper.people-main .post-content h3,
.wrapper.people-main .post-content h4 {
	color: $blog-pink--light;
}

li.process a:hover,
.wrapper.process-main li.process a,
.wrapper.process-main .post-content .title,
.wrapper.process-main .post-content .caption,
.wrapper.process-main .post-content h3,
.wrapper.process-main .post-content h4 {
	color: $blog-lime-green;
}

li.ideas a:hover,
.wrapper.ideas-main li.ideas a,
.wrapper.ideas-main .post-content .title,
.wrapper.ideas-main .post-content .caption,
.wrapper.ideas-main .post-content h2,
.wrapper.ideas-main .post-content h3,
.wrapper.ideas-main .post-content h4 {
	color: $blog-red;
}

li.found a:hover,
.wrapper.found-main li.found a,
.wrapper.found-main .post-content .title,
.wrapper.found-main .post-content .caption,
.wrapper.found-main .post-content h2,
.wrapper.found-main .post-content h3,
.wrapper.found-main .post-content h4 {
	color: $blog-blue--light;
}

li.present a:hover,
.wrapper.present-main li.present a,
.wrapper.present-main .post-content .title,
.wrapper.present-main .post-content .caption,
.wrapper.present-main .post-content h2,
.wrapper.present-main .post-content h3,
.wrapper.present-main .post-content h4 {
	color: $blog-orange;
}

li.studio a:hover,
.wrapper.studio-main li.studio a,
.wrapper.studio-main .post-content .title,
.wrapper.studio-main .post-content .caption, 
.wrapper.studio-main .post-content h2,
.wrapper.studio-main .post-content h3,
.wrapper.studio-main .post-content h4 {
	color: $blog-pale-green;
}

// .uncategorized {
// 	color: ;
// }