.image-col-3 {
	width: 33.33%;
	float: left;
	box-sizing: border-box;
	padding: 0 10px;
	margin-bottom: 10px;
}

.image-col-2 {
	width: 50%;
	float: left;
	box-sizing: border-box;
	padding: 0 10px;
	margin-bottom: 10px;
}


.image-col-1 {
	width: 100%;
	float: left;
	box-sizing: border-box;
	padding: 0 10px;
	margin-bottom: 10px;
}

.image-col-1, .image-col-2, .image-col-3 {
	margin-bottom: 1em;
}

.caption {
	margin-top: 0.50em;
	display: inline-block;
}

.images {
	margin: 0 -10px 2em -10px;
}

.images:after {
	content: '';
	display: block;
	clear: both;
}

@media only screen and (max-width: 650px) {

	.post-image {
	font-size: 0.7em;
	}

	.images-wrapper {
		width: 100%;
		float: right;
	}

	.images {
		width: auto;
		float: none;
	}


	.image-col-3, .image-col-2, .image-col-1 {
		width: 100% !important;
		margin-bottom: 1em !important;
	}

}