.images .image-col-3 {
	width: 33.33%;
	float: left;
	box-sizing: border-box;
	padding: 0 10px;
	margin-bottom: 10px;
}

.images .image-col-2 {
	width: 50%;
	float: left;
	box-sizing: border-box;
	padding: 0 10px;
	margin-bottom: 10px;
}


.image-col-1 {
	width: 100%;
	float: left;
	box-sizing: border-box;
	padding: 0 10px;
	margin-bottom: 10px;
}

@media only screen and (max-width: 650px) {

	.post-image {
	font-size: 0.7em;
	}

	.post-content .images-wrapper {
		width: 100%;
		float: right;
	}

	.post-content .images {
		width: auto;
		float: none;
	}


	.image-col-3, .image-col-2, .image-col-1 {
		width: 100% !important;
		margin-bottom: 1em !important;
	}

}