.hero-picture {
	position: relative;
	z-index: -1;
	background-position: center center !important;
}

.hero {
	padding-bottom: 5% !important;
	margin-bottom: 0 !important;
	background: rgb(255,255,255)
}

.text > .wrapper {
	position: relative;
}

.home {
	margin-top: 6em;
}
