

.text > .wrapper {
	position: relative;
}

.home, .archive {
	margin-top: 6em;
}

.single .blog-meta-data p {
	margin-bottom: 0.3em;
}


@media screen and (max-width: 980px) {
	.blog-category .section-title {
		float: left;
		width: 100%;
	}
}

