// Post

.post {

	.category-icons {
		float: left;
		width: 100%;
	}

	a {
		text-decoration: none;
	}

	.title {
		text-align: center;
		display: block;
		float: left;
		width: 50%;
		color: rgb(88,89,91);
	}

	.under {
		display: block;
		margin: 0.5em 0;
	}

	.date, .go-to {
		float: left;
		width: 25%;
		display: block;
	}

	.go-to a {
		display: block;
		height: 21px;
		width: 37px;
		background: url("images/blog-arrow.png");
		float: right;
	}
}

.post-content:after, .images:after, .sidebar:after, .wrapper:after, .post-meta-data:after {
	content: '';
	display: block;
	clear: both;
}


// TYPOGRAPHY 
.title h1, .title span {
	display: inline;
}

.post-content {
	margin-bottom: 2em;

	.title {
		font-size: 1.5em;
		font-weight: bold;
		width: 85%;
		float: right;
	}

	a {
		color: rgb(167,169,172);
	}

	em {
		font-style: italic;
	}

	strong {
		font-weight: bold;
	}

	blockquote, q {
		margin-left: 2em;
		border-left: 3px solid rgb(204, 204, 204);
		padding-left: 1em;
	}

	img {
		margin-bottom: 0.5em;
		width: 100%;
		display: block;
	}

	// !!! Group up with image styles
	.caption, .caption-alt {
		font-size: 0.9em;
	}

	.caption-alt {
		color: rgb(167, 169, 172);
		display: block;
	}

	.meta-data {
		float: left;
		width: 10%;
		margin-right: 5%;
	}

	.category-icons {
		margin: 0.2em 0;
	}

	.images-wrapper {
		width: 117.6%;
		float: right;

		&:after {
			content: '';
			display: table;
			clear: both;
		}
	}

	.images {
		margin: 0.5em -10px;
			&:after {
			content: '';
			display: table;
			clear: both;
		}
	}

	.inner-content p > img, .inner-content p a > img {
		width: 117.6%;
		float: right;
		margin: 0 0 0.75em 0;
	}

	.title-img {
		margin-bottom: 2em;
	}

	.meta-data ul {
		float: none;
		width: auto;
	}

	.gist {
		font-size: 0.9em;
		margin: 2em 0;
	}

	.inner-content {
	width: 85%;
	float: right;
	line-height: 1.65;
	margin-top: 0.5em;
		
		h1, h2, h3, h4, h5, h6,p, ul, ol, blockquote, q, .author {
			margin: 1em 0;
		}

		.title {
			display: inline-block;
			margin: inherit;
		}

		li {
			color: rgb(167,169,172);
			margin: 0.7em 0;
			position: relative;
			padding: 0 0 0 0.8em;
		}

		li:after {
			content: '-';
			position: absolute;
			left: 0px;
			top: 0px;
		}

		h2 {
			font-size: 1.3em;
		}

		h3 {
			font-size: 1.1em;
		}

		h3 a {
			text-decoration: none;
			margin-left: 0.3em;
		}

		h4 {
			font-size: 1em;
		}


		.gist {
			width: 100%;
			float: left;
		}

	}
	.author {
		display: block;	
	}

}



//  Videos

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	margin: 2em 0;
	height: 0;
	overflow: hidden;
	width: 100%;
	float: left;
}

.video-container iframe, .video-container object, .video-container embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

@media only screen and (max-width: 650px) {

.post-image {
	font-size: 0.7em;
}

.post-content .images-wrapper {
	width: 100%;
	float: right;
}

.post-content .images {
	width: auto;
	float: none;
}

.main-content {
	width: 100%;
	margin: 0;
}

.sidebar {
	width: 100%;
}


.post-content .inner-content {
	width: 100%;
	margin-top: 0.5em;
	p, ul, .author, h3, h4, h5, ol, blockquote, q {
		margin: 1em 0;
		font-size: 1em;
	}
}

.post-content .meta-data {
	width: auto;
	margin-bottom: 1em;
}

.no-image {
	height: auto;
	padding: 5% 5% 20% 5%;
}

.post-content .gist {
	font-size: 0.8em;
}

.post-content .title {
	margin-bottom: 0.75em;
	width: 100%;
}

.post-content .meta-data {
	margin-bottom: -0.5em;
}

.post-image, .no-image {
	margin-bottom: 	1.4em;
}

.post-content .images {
	margin: 0 -10px;
}

.image-col-3, .image-col-2, .image-col-1 {
	width: 100% !important;
	margin-bottom: 1em !important;
}

.post-content .inner-content {
	h1, h2, h3, h4, h5, h6,p, ul, ol, blockquote, q, .author {
			margin: 1em 0;
	}
}

.post-content .inner-content p > img, .post-content .inner-content p a > img {
	width: 100%;
	float: none;
	margin: 0 0 0.75em 0;
}


.post-content .inner-content li {
	margin: 0.3em 0;	
}

.post-content .inner-content {
	margin-top: 1.5em;
}

.pagination span a {
	padding: 0;
}

.pagination span{
	margin: 0;
}


}