
.blog-content {

	h3 {
		margin-bottom: 0.5em;
		margin-top: 1.5em;
	}

	a {
		text-decoration: none;
	}

	em {
		font-style: italic;
	}

	strong {
		font-weight: bold;
	}

	blockquote, q {
		border-left: 3px solid rgb(204, 204, 204);
		padding-left: 1em;
	}

}


@media only screen and (max-width: 650px) {


.pagination span a {
	padding: 0;
}

.pagination span{
	margin: 0;
}


}