



// TYPOGRAPHY 
.title h1, .title span {
	display: inline;
}

.blog-content {

	h3 {
		margin-bottom: 0.5em;
		margin-top: 1.5em;
	}

	a {
		text-decoration: none;
	}

	em {
		font-style: italic;
	}

	strong {
		font-weight: bold;
	}

	blockquote, q {
		margin-left: 2em;
		border-left: 3px solid rgb(204, 204, 204);
		padding-left: 1em;
	}

	.gist {
		font-size: 0.9em;
		margin: 2em 0;
	}

}









@media only screen and (max-width: 650px) {



.post-content .gist {
	font-size: 0.8em;
}

.post-content .inner-content li {
	margin: 0.3em 0;	
}

.pagination span a {
	padding: 0;
}

.pagination span{
	margin: 0;
}


}