$blog-pink: rgb(238,70,123);
$blog-yellow: rgb(254,221,60);
$blog-turquoise: rgb(63,212,173);
$blog-blue: rgb(0,105,166);
$blog-pink--light: rgb(241,133,206);
$blog-lime-green: rgb(196,231,106);
$blog-red: rgb(244,36,52);
$blog-blue--light: rgb(155,230,215);
$blog-orange: rgb(255,157,107);
$blog-pale-green: rgb(227,231,51);
