$blog-code: rgb(255,91,52);
$blog-design: rgb(255,191,59);
$blog-inspiration: rgb(104,68,88);
$blog-process: rgb(0,196,179);
$blog-people: rgb(0,188,111);
$blog-made: rgb(0,116,200);
$blog-adventures: rgb(220,95,19);
$blog-thinking: rgb(112,160,135);
$blog-interesting: rgb(244,97,119);
$blog-ideas: rgb(0,121,95);
$blog-things-we-found: rgb(0,160,174);
$blog-studio: rgb(246,50,62);
